* {
  box-sizing: border-box;
}
@media (min-width: 600px) and (max-width: 700px) {
  body {
    background-color: lightblue;
  }
}
body,
h1,
h2,
h3,
p,
ul,
li,
a,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  color: #232946;
}
.Pinotas {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
body {
  font-family: "Arial", sans-serif;
  background-color: #b8c1ec;
  color: #232946;
  text-align: center;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fffffe;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #232946;
}

header {
  background-color: #232946;
  color: #fffffe;
  padding: 20px 0;
}

header h1 {
  font-size: 32px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #232946;
  font-weight: bold;
  font-size: 18px;
}

nav a:hover {
  color: #f8f8f8;
}

#hero {
  background: url("./img/flat\,750x\,075\,f-pad\,750x1000\,f8f8f8.jpg")
    center/cover no-repeat;
  color: #ffffff;
  padding: 50px 0;
}

#hero h2 {
  font-size: 36px;
}

#hero p {
  font-size: 18px;
}

#hero span {
  font-weight: bold;
}

section {
  margin-top: 40px;
}

h2 {
  font-size: 28px;
}

.project {
  margin: 40px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.project h3 {
  font-size: 24px;
}

.project p {
  margin: 10px 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #eebbc3;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background-color: #b8c1ec;
}

#contact-form {
  text-align: left;
  margin-top: 20px;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #eebbc3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #eebbc3;
}

footer {
  background-color: #b8c1ec;
  color: #fff;
  padding: 30px 0;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 24px;
  }

  nav a {
    font-size: 16px;
  }

  #hero h2 {
    font-size: 28px;
  }

  #hero p {
    font-size: 16px;
  }

  h2 {
    font-size: 24px;
  }

  .project h3 {
    font-size: 20px;
  }

  .project p {
    font-size: 16px;
  }
}
#homepage {
  color: #fff;
}
.icons {
  font-size: 40px;
  text-decoration: none;
}
