button[type="submit"] {
  background-color: #eebbc3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid black;
  border-color: #c0579e;
}

button[type="submit"]:hover {
  background-color: #b8c1ec;
}
